body
{		
		background-color:brown;
		background-size:cover;
		
}

.invic1>ul
{
	padding-right:30px;
	padding-left:30px;
  background-image:url('images/invect.jpg');
  color:white;
  
  
}
.invic1 h1
{
		text-align:center;
		background-color:white;
		font-size:300%;
		font-family: cursive;
		 text-shadow: 0 10px 10px red;
		
		
}
.foot{
  
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  
 
 
}
.registerbtn{
  position: relative;
  padding: 5px 18px;
  margin: 5px 0px 0px 0px;
  background-color:red;
  text-align: center;
  border-radius: 5px;
  height:38px;
  width: 120px;
  
  
}
